

.container {
    
    display: flex;
    max-width: 960px;
    margin: 20px auto;
    justify-content: space-between;
    box-shadow: 1px 1px 1px;
}

.avatar {
    flex-basis: 35%;
    background:blue; 
}

.photo-info {
    
    padding: 50px 30px 70px 30px;
        
}

.heading {
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 16px;
}

.h2-first {
    border-bottom: 2px dashed black;
}

.photo {
    height: 230px;
    background: ;
    background-size: ;
    background:url ();
}

.phone {
    color: black;
    margin-bottom: 13px;
    font-size: 16px;
    font-weight: 400px;
}

.contact {
    border-bottom: 2px black;
    padding-top: 24px;
    padding-bottom: 24px;
} 

.phone-link {
    color: aqua;
    text-decoration: none;
    padding-left: 27px;
    line-height: 21px;
        
    
}


.language {
     width: 100px;
    height: 100px;
    border: 6px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.languages {
    display: flex;
    flex-wrap: wrap;
}

.lines {
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line {
    width: 93px;
    border: 1px solid black;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.line:nth-child(2){
   width: 110px;
    margin-left: 20px;
}

.info-wrap {
    padding: 36px 36px;
    border: 1px solid rgba(168,168,168,0.44);
    min-height: 100%
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 38px;
}

.porfolio {
    padding: 25px,30px;
    flex-basis: 63%;
    background: red;
}

.logo-lines {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 17px;
    margin-right: 17px;
}

.logo-line {
    display: block;
    width: 43px;
    height: 2px;
    background: black;
    margin-bottom: 10px;
    margin-top: 10px;
}

.logo-lites-left  .logo-line:nth-child(2){
    margin-right: 20px;
    width: 55px;
    
}

.logo-img {
    width: 90px;
    height: 90px;
    border: 1px solid blue;
    border-radius: 50%;
    background: url () ;
    background-size: cover;
    background-position: center;
}

.about {
    text-align: center;
    border-bottom: 1px solid rgba(168,168,168,0.44);
    padding-bottom: 30px;
    margin-bottom: 40px;
    

}

.name {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 11px;
    
}

.position {
    font-size: 9px;
    text-transform: uppercase;
    color: aqua;
    margin-bottom: 20px;
    display: inline-block;
}

.about-adres {
    font-size: 13px;
    margin-bottom: 15px;
}

.about-contacts {
    font-size: 10px;
}

.about-link {
    text-decoration: none;
    color: coral;
}

.heading-white {
    font-size: 16px;
    border-bottom: 1px solid rgba(168,168,168,0.44);
    margin-bottom: 37px;   
}

.list {
    list-style: none;
    padding-left: 0;
}

.list-item:before {
    content: '';
    background: black;
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    left: 0;
    top: 0;
        
}



.list-item {
    
}

.list-item {
    position: relative;
    padding-left: 40px;
    margin-bottom: 30px;
    border-bottom: 2px dashed red;
    
}

.list-item-4 {
    font-size: 11px;
    text-transform: uppercase;
}

.list-item-date {
    font-size: 11px;
    text-transform: uppercase;
}

.item-info {
    font-size: 10px;
    color: chartreuse;
    
}

.list-item2 {
    border: none;
}

.white_lvl {
    margin-bottom: 48px;
}

.lvlup-list-item1 {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
}

.level {
    width: 70%;
    height: 8px;
    border: 1px solid black;
    position: relative;
        
}

.level : before{
    content: '';
    position: absolute;
    left: 0;
    
}
